body{
    background-color: #008B8B;
}

.father{
    width:550px;
    height: 440px;
    padding:20px;
    margin:20px auto;
    margin-top: 140px;
    border-radius:15px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
}

a{
    color:black;
    text-decoration: none;

}

fieldset{
    width:400px;
    height: 300px;
    padding:50px;
    margin:15px auto;
    border-radius:15px;
    font-size: 14px;
    font-weight:bold;
}

legend{
    font-size: 30px;
    font-weight: bold;
}
.A,.B,.C{
    background-color:#00CED1;
    margin-top: -30px;
    margin-left: 98px;
    width:145px;
    height: 30px;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    padding:5px;
    width:200px;
}
.A{
    margin-top: 0px;
}
.man{
    color:black;
}